{%- comment -%}
  Renders the product title

  Accepts:
  - block {block} - Block object
  - product {product} - Product object
  - sku_enable {boolean} - Show or hide the product sku
  - vendor_enable {boolean} - Show or hide the vendor

  Usage:
  {% render 'block-title', block: block %}
{%- endcomment -%}

{% render 'stylesheet', name: 'block-title.component.css' %}

{%- liquid
  capture title_default
    render 't-with-fallback', key: 'labels.example_product', fallback: 'Example product'
  endcapture

  assign title = product.title | default: title_default
  assign sku_enable = sku_enable | default: block.settings.sku_enable | default: false
  assign vendor_enable = vendor_enable | default: block.settings.vendor_enable | default: false
  assign collection_handle = product.vendor | handleize
  assign collection_for_vendor = collections[collection_handle]
  assign vendor_url_default = product.vendor | url_for_vendor
  assign vendor_url = collection_for_vendor.url | default: vendor_url_default
-%}

<div class="block-title" data-section-id="{{ section.id }}" {{ block.shopify_attributes }}>
  <h1 class="h2 block-title__heading">
    {{- title -}}
  </h1>

  {%- if vendor_enable or sku_enable -%}
    <div>
      {%- if vendor_enable -%}
        <a class="block-title__vendor" href="{{ vendor_url }}">
          {{- product.vendor -}}
        </a>
      {%- endif -%}

      {%- if sku_enable -%}
        <div class="block-title__sku">
          {%- render 'variant-sku' -%}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
