{% comment %}
  Renders product buy buttons

  Accepts:
  - block {block} - Block object
  - product {product} - Product object

  Usage:
  {% render 'block-buy-buttons', block: block %}
{% endcomment %}

{%- liquid
  assign form_id = 'product-form-' | append: section.id

  assign show_dynamic_checkout = false

  if block.settings.show_dynamic_checkout
    assign show_dynamic_checkout = true
  endif

  assign check_against_inventory = true
  assign quantity_rule_soldout = false

  if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
    assign check_against_inventory = false
  endif

  if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
    assign quantity_rule_soldout = true
  endif

  assign button_text = 'actions.add_to_cart' | t
  if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
    assign button_text = 'info.sold_out' | t
  endif
-%}

<block-buy-buttons
  class="block-buy-buttons"
  data-section-id="{{ section.id }}"
  {% if show_dynamic_checkout %}
    data-show-dynamic-checkout=""
  {% endif %}
  {{ block.shopify_attributes }}
>
  <div role="alert" hidden>
    <span></span>
  </div>

  {%- form 'product', product, id: form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
        disabled
      {% endif %}
    >
    <div>
      <button
        id="ProductSubmitButton-{{ section.id }}"
        type="submit"
        name="add"
        class="button block-buy-buttons__submit"
        {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
          disabled
        {% endif %}
      >
        <span>
          {{- button_text -}}
        </span>
      </button>

      {%- if show_dynamic_checkout -%}
        {{- form | payment_button -}}
      {%- endif -%}
    </div>
  {%- endform -%}

  <script type="application/json">
    {
      "addToCart": "{{ 'actions.add_to_cart' | t }}",
      "soldOut": "{{ 'info.sold_out' | t }}",
      "unavailable": "{{ 'info.unavailable' | t }}"
    }
  </script>
</block-buy-buttons>

<script type="module">
  import 'components/block-buy-buttons'
</script>
