{%- comment -%}
  Renders a rich text block with a heading, subheading, and button

  Accepts:
  - subheading {string} - Text for the subheading
  - heading {string} - Text for the heading
  - heading_size {'h3'|'h2'|'h1'|'h0'} - Size of the heading
  - text {string} - Text for the section
  - button_text {string} - Label for the button
  - button_link {string} - URL for the button

  Usage:
  {% render 'block-rich-text', heading: 'Hello world' %}
{%- endcomment -%}

{% liquid
  assign subheading = subheading | default: section.settings.subheading
  assign heading = heading | default: section.settings.heading
  assign heading_size = heading_size | default: section.settings.heading_size | default: 'h2'
  assign text = text | default: section.settings.text
  assign button_text = button_text | default: section.settings.button_text
  assign button_link = button_link | default: section.settings.button_link
%}

<div class="rich-text">
  {%- if subheading != blank -%}
    <p class="rich-text__subheading">
      {{ subheading | escape }}
    </p>
  {%- endif -%}

  {%- if heading != blank -%}
    <h2 class="{{ heading_size }} rich-text__heading">
      {{ heading }}
    </h2>
  {%- endif -%}

  {%- if text != blank -%}
    <div class="rte rich-text__text">
      {{ text }}
    </div>
  {%- endif -%}

  {%- if button_text != blank -%}
    <div class="rich-text__button">
      <a href="{{ button_link | default: "#" }}" class="button">
        {{ button_text | escape }}
      </a>
    </div>
  {%- endif -%}
</div>
