{% comment %}
  Renders product buy buttons

  Accepts:
  - block {block} - Block object
  - product {product} - Product object

  Usage:
  {% render 'block-buy-buttons', block: block %}
{% endcomment %}

{% render 'stylesheet', name: 'component.block-buy-buttons.css' %}

{%- liquid
  assign form_id = 'product-form-' | append: section.id

  assign show_dynamic_checkout = false

  if block.settings.show_dynamic_checkout
    assign show_dynamic_checkout = true
  endif

  assign check_against_inventory = true
  assign quantity_rule_soldout = false

  if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
    assign check_against_inventory = false
  endif

  if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
    assign quantity_rule_soldout = true
  endif
-%}

<block-buy-buttons
  class="block-buy-buttons"
  data-section-id="{{ section.id }}"
  {% if show_dynamic_checkout %}
    data-show-dynamic-checkout=""
  {% endif %}
  {{ block.shopify_attributes }}
>
  <div role="alert" hidden>
    <span></span>
  </div>

  {%- form 'product', product, id: form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
        disabled
      {% endif %}
    >
    <div>
      <button
        id="ProductSubmitButton-{{ section.id }}"
        type="submit"
        name="add"
        class="button block-buy-buttons__submit"
        {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
          disabled
        {% endif %}
      >
        <span>
          {%- liquid
            capture button_text
              render 't-with-fallback', key: 'actions.add_to_cart', fallback: 'Add to cart fallback'
            endcapture

            if template contains 'preorder'
              capture button_text
                render 't-with-fallback', key: 'actions.preorder', fallback: 'Pre-order'
              endcapture
            endif

            if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
              capture button_text
                render 't-with-fallback', key: 'info.sold_out', fallback: 'Sold out'
              endcapture
            endif

            echo button_text
          -%}
        </span>
      </button>

      {%- if show_dynamic_checkout -%}
        {{- form | payment_button -}}
      {%- endif -%}
    </div>
  {%- endform -%}

  <script type="application/json">
    {
      "addToCart": {% render 't-with-fallback', key: 'actions.add_to_cart', fallback: 'Add to cart', as_json: true %},
      "solout": {% render 't-with-fallback', key: 'info.sold_out', fallback: 'Sold out', as_json: true %},
      "unavailable": {% render 't-with-fallback', key: 'info.unavailable', fallback: 'Unavailable', as_json: true %}
    }
  </script>
</block-buy-buttons>

<script type="module">
  import 'component.block-buy-buttons'
</script>
