{%- comment -%}
  Renders the first 3D model of a product

  Accepts:
  - line_item {line_item} - Line item object
  - hydration {'on:visible'|'on:idle'|'on:interaction'|'on:media'} - Hydration strategy

  Usage:
  {%- for line_item in cart.items -%}
    {%- render 'line-item-quantity', line_item: line_item -%}
  {%- endfor -%}
{%- endcomment -%}

{% render 'stylesheet', name: 'line-item-quantity.component.css' %}

{% liquid
  assign hydration = hydration | default: 'on:visible'
%}

<is-land {{ hydration }}>
  <line-item-quantity class="line-item-quantity" index="{{ line_item.index | plus: 1 }}" section-id="{{ section.id }}">
    <input type="text" inputmode="numeric" value="{{ line_item.quantity }}" min="1">
    <a href="{{ line_item.url_to_remove }}" class="line-item-quantity__remove">
      {% render 't-with-fallback', key: 'actions.remove', fallback: 'Remove' %}
    </a>
  </line-item-quantity>

  <template data-island>
    <script type="module">
      import 'line-item-quantity.component'
    </script>
  </template>
</is-land>
