{%- comment -%}
  Renders a formatted price

  Accepts:
  - price {number} - Price to be formatted

  Usage:
  {% render 'price', price: price %}
{%- endcomment -%}

{%- liquid
  assign superscript_decimals = settings.superscript_decimals
  assign formatted_price = price | money

  unless shop.money_format contains 'money' or shop.money_format contains '.'
    if superscript_decimals
      if shop.money_format contains '{{amount}}' or shop.money_format contains '{{ amount }}'
        assign formatted_price = formatted_price | replace: '.', '<sup>' | append: '</sup>'
      elsif shop.money_format contains '{{amount_with_comma_separator}}' or shop.money_format contains '{{ amount_with_comma_separator }}'
        assign formatted_price = formatted_price | replace: ',', '<sup>' | append: '</sup>'
      endif
    endif
  endunless
-%}

<span aria-hidden="true">{{ formatted_price }}</span>
<span class="visually-hidden">{{ price | money }}</span>
