{%- comment -%}
  Main product section

  Accepts:
  - slot_product_blocks {string} - Content for product info
  - slot_product_gallery {string} - Content for the product media gallery

  Usage:
  {% liquid
    capture blocks
      for block in section.blocks
        case block.type
          when 'title'
            render 'block-title', block: block
          when 'variant_picker'
            render 'block-variant-picker', block: block
          when 'buy_buttons'
            render 'block-buy-buttons', block: block
        endcase
      endfor
    endcapture

    render 'main-product', slot_product_blocks: blocks
  %}
{%- endcomment -%}

{% render 'stylesheet', name: 'section-main-product.component.css' %}

{% liquid
  assign image_position = image_position | default: section.settings.image_position | default: 'left'
  assign color_scheme = color_scheme | default: section.settings.color_scheme | default: 'scheme-1'
%}

<section
  class="main-product page-width page-width--flush-small"
  data-color-scheme="{{ color_scheme }}"
  data-image-position="{{ image_position }}"
>
  <div class="main-product__media-gallery">
    {%- if slot_product_gallery != blank -%}
      {{ slot_product_gallery }}
    {%- else -%}
      {%- render 'product-media-gallery' -%}
    {%- endif -%}
  </div>

  <div class="main-product__info">
    {{- slot_product_blocks -}}
  </div>
</section>

<script type="application/ld+json">
  {{ product | structured_data }}
</script>
