{%- comment -%}
  Media with text section

  Accepts:
  - slot {string} - Slot for media content
  - full_width {true|false} - Whether the section should be full width
  - media_width {'33'|'50'|'66'} - Width of the media
  - layout {'left'|'right'} - Layout of the section
  - content_alignment {'left'|'center'|'right'} - Alignment of the content
  - content_position {'top'|'center'|'bottom'} - Position of the content

  Usage:
  {% liquid
    capture blocks
      for block in section.blocks
        case block.type
          when '@app'
            render block
          when 'image'
            render 'block-image', block: block
          when 'video'
            render 'block-video', block: block
        endcase
      endfor
    endcapture

    render 'section-media-with-text', slot: blocks
  %}
{%- endcomment -%}

{% render 'stylesheet', name: 'component.section-media-with-text.css' %}

{% liquid
  assign full_width = full_width | default: section.settings.full_width, allow_false: true | default: true, allow_false: true
  assign media_width = media_width | default: section.settings.media_width | default: '50'
  assign layout = layout | default: section.settings.layout | default: 'right'
  assign content_alignment = content_alignment | default: section.settings.content_alignment | default: 'left'
  assign content_position = content_position | default: section.settings.content_position | default: 'center'
  assign color_scheme = color_scheme | default: section.settings.color_scheme | default: 'scheme-1'
%}

<section
  class="media-with-text page-width"
  data-media-layout="{{ layout }}"
  data-media-width="{{ media_width }}"
  {% unless full_width %}
    data-page-width
  {% endunless %}
  data-color-scheme="{{ color_scheme }}"
>
  <div
    class="media-with-text__text"
    data-text="{{ content_alignment }}"
    data-justify="{{ content_position }}"
  >
    {% render 'block-rich-text' %}
  </div>

  <div class="media-with-text__media">
    {{- slot -}}
  </div>
</section>
