<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="{% render 'language-direction' %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {% comment %}theme-check-disable AssetPreload{% endcomment %}
    {%- unless settings.type_header_font_family.system? -%}
      <link
        rel="preload"
        href="{{ settings.type_header_font_family | font_url }}"
        as="font"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%}

    {%- unless settings.type_base_font_family.system? -%}
      <link
        rel="preload"
        href="{{ settings.type_base_font_family | font_url }}"
        as="font"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%}
    {% comment %}theme-check-enable AssetPreload{% endcomment %}

    {%- render 'import-map' -%}
    {%- render 'es-module-shims' -%}
    {%- render 'is-land' -%}
    {%- render 'preload-js' -%}

    {%- liquid
      assign header_font = settings.type_header_font_family
      assign base_font = settings.type_base_font_family
      assign base_font_bold = base_font | font_modify: 'weight', '600'
      assign base_font_italic = base_font | font_modify: 'style', 'italic'
      assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic'
    -%}

    {%- style -%}
      {{ header_font | font_face: font_display: 'swap' }}
      {{ base_font | font_face: font_display: 'swap' }}

      {{ base_font_bold | font_face: font_display: 'swap' }}
      {{ base_font_italic | font_face: font_display: 'swap' }}
      {{ base_font_bold_italic | font_face: font_display: 'swap' }}

      {%- for scheme in settings.color_schemes -%}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.rgb }};
          --color-foreground: {{ scheme.settings.text.rgb }};

          background-color: rgb(var(--color-background));
          color: rgb(var(--color-foreground));
        }
      {%- endfor -%}
    {%- endstyle -%}

    {%- render 'css-variables' -%}

    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>

    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}

    <script>
      var theme = {
        strings: {
          addToCart: {{ 'actions.add_to_cart' | t | json }},
          soldOut: {{ 'info.sold_out' | t | json }},
          unavailable: {{ 'info.unavailable' | t | json }}
        }
      };
    </script>
  </body>
</html>
