<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {%- render 'import-map' -%}
    {%- render 'es-module-shims' -%}
    {%- render 'is-land' -%}
    {%- render 'preload-js' -%}

    {%- render 'css-variables' -%}

    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>

    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
